version: "3.8"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: cms
      POSTGRES_USER: cms_owner
      POSTGRES_PASSWORD: changeme
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
  postgrest:
    image: postgrest/postgrest:v12.2.3
    environment:
      PGRST_DB_URI: postgres://cms_owner:changeme@postgres:5432/cms
      PGRST_DB_ANON_ROLE: web_anon
      PGRST_DB_SCHEMAS: public
      PGRST_SERVER_HOST: 0.0.0.0
      PGRST_SERVER_PORT: 3000
      PGRST_ROLE_CLAIM_KEY: .pgrst_role
      PGRST_JWT_AUD: portal
    ports: ["3000:3000"]
    volumes:
      - ./postgrest/postgrest.conf:/etc/postgrest.conf:ro
  portal:
    build:
      context: portal
      dockerfile: portal/Dockerfile
    environment:
      - PGHOST=postgres
      - PGPORT=5432
      - PGDATABASE=cms
      - PGUSER=cms_owner
      - PGPASSWORD=changeme
      - APP_HTTP_ADDR=:8080
      - AUTH_MODE=keycloak
      - OIDC_ISSUER_URL=http://keycloak:8080/realms/cms
      - OIDC_CLIENT_ID=portal
      - OIDC_CLIENT_SECRET=dev-secret
      - OIDC_REDIRECT_URL=http://localhost:8080/admin/callback
      - SESSION_SECRET=change-me-32bytes-min
    depends_on: [postgres, keycloak]
    ports: ["8080:8080"]
    volumes:
      - ./portal/assets:/srv/assets:ro
      - ./portal/templates:/srv/templates:ro
      - ./media:/srv/media
  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    command: ["start-dev","--http-port=8080","--import-realm"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    ports: ["8081:8080"]
volumes:
  pgdata:
