{{ define "content" }}<form method=post><input name=title value='{{ .Entry.Title }}'><textarea name=body>{{ .Entry.Body }}</textarea><select name=status><option {{ if eq .Entry.Status "draft" }}selected{{ end }}>draft</option><option {{ if eq .Entry.Status "review" }}selected{{ end }}>review</option><option {{ if eq .Entry.Status "published" }}selected{{ end }}>published</option></select><button>Save</button></form>{{ end }}